:root {
  --bazeblue: #142841;
  --bazeblue10: #bdbfc2;
  --bazeblue30: #989ea5;
  --bazeblue60: #5f6b7a;
  --bazeblue80: #3a4a5e;
  --bazegreen: #14af7d;
  --lightgrey: #f5f5f5;
  --grey: #dadadc;
  --white: #fff;
  --mint: #9be1d2;
  --pine: #14af7d;
  --lime: #d2eb82;
  --scarlet: #e12d0a;
  --rose: #ffd2d2; }

.DoctorRecommendationText {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto 20px auto;
  text-align: center; }
  .DoctorRecommendationText p {
    color: var(--bazeblue30);
    font-size: 12px; }
  @media screen and (min-width: 767px) {
    .DoctorRecommendationText {
      width: 80%; } }
